<div class="container">
    <h1>Register</h1>
    <form [formGroup]="registerForm" class="form">
        <mat-form-field>
            <mat-label>email</mat-label>
            <input type="email" formControlName="email" matInput placeholder="example@example.com" autocomplete="email">
            @if (registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']) {
            <mat-error>
                este campo es obligatorio
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>password</mat-label>
            <input type="password" formControlName="password" matInput placeholder="password"
                autocomplete="new-password">
            @if (registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']) {
            <mat-error>
                este campo es obligatorio
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>confirm password</mat-label>
            <input type="password" formControlName="confirmPassword" matInput placeholder="confirmPassword"
                autocomplete="new-password">
            @if (registerForm.get('confirmPassword')?.touched &&
            registerForm.get('confirmPassword')?.errors?.['required']) {
            <mat-error>
                este campo es obligatorio
            </mat-error>
            }
        </mat-form-field>

        <button mat-fab extended color="primary" [disabled]="registerForm.invalid" (click)="register()">
            <mat-icon>add_circle</mat-icon>
            SAVE {{rolePath}}
        </button>

        <div style="padding-top: 8px; display: flex; gap: 8px;">
            <a mat-fab extended color="primary" [routerLink]="['../doctor']" [routerLinkActive]="['active']"
                [disabled]="rolePath==='DOCTOR'">
                <mat-icon>medical_information</mat-icon>
            </a>
            <a mat-fab extended color="warn" [routerLink]="['../patient']" [routerLinkActive]="['active']"
                [disabled]="rolePath==='PATIENT'">
                <mat-icon>personal_injury</mat-icon>
            </a>
            <a mat-fab extended color="accent" [routerLink]="['../nurse']" [routerLinkActive]="['active']"
                [disabled]="rolePath==='NURSE'">
                <mat-icon>contact_emergency</mat-icon>
            </a>
        </div>
    </form>
</div>